.masthead a.brand {
  color: #333;
}

.bookmark {
  margin-bottom: 10px;
}
.bookmark .title {
  font-weight: bold;
}
.bookmark .domain {
  color: #999
}

.bookmark .description p:last-child {
  margin-bottom: 0;
}

.tag {
  color: red;
}