<template name="bookmarkAdd">
  <form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="title">Title</label>
    <div class="controls">
      <input name="title" type="text" placeholder="Title">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="url">URL</label>
    <div class="controls">
      <input name="url" type="text" placeholder="URL">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="description">Description</label>
    <div class="controls">
      <textarea name="description" placeholder="Description"></textarea>
      <span class="help-block">You can use <a href="http://daringfireball.net/projects/markdown/">Markdown</a> here.</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="tags">Tags</label>
    <div class="controls">
      <input name="tags" type="text" placeholder="Tags">
      <span class="help-block">Separate tags with spaces.</span>
    </div
  </div>
  <hr>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Add Bookmark</button>
    </div>
  </div>
  </form>
</template>