<template name="bookmarkItem">
  <article class="bookmark">
    <header>
      <span class="title"><a href="{{url}}">{{title}}</a></span>
      <span class="domain">{{domain}}</span>
      {{#if hidden}}<i class="icon-lock"></i>{{/if}}
    </header>
    <section class="description">
      {{#markdown}}{{description}}{{/markdown}}
    </section>
    <footer>
      <div class="tags">
        {{#each tags}}
          <a href="{{taggedBookmarksPath this}}" class="tag">{{this}}</a>
        {{/each}}
      </div>
    </footer>
  </article>
</template>
