<template name="header">
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="{{newestBookmarksPath}}">
      <i class="icon-bookmark"></i> shoegazr
    </a>
    <ul class="nav">
      {{#if currentUser}}
      <li class="{{activeRouteClass 'newestBookmarks'}}">
        <a href="{{newestBookmarksPath}}">Bookmarks</a>
      </li>
      <li class="{{activeRouteClass 'bookmarkAdd'}}">
        <a href="{{bookmarkAddPath}}">Add Bookmark</a>
      </li>
      {{/if}}
      <li class="{{activeRouteClass 'publicBookmarks'}}">
        <a href="{{publicBookmarksPath}}">Public</a>
      </li>
    </ul>
    <ul class="nav pull-right">
      <li>{{loginButtons}}</li>
    </ul>
  </div>
</div>
</template>